*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Arial;
}

/* color list */
/* editorial = rgb(71, 173, 241) */
/* q1 goals = rgb(155, 113, 227) */
/* recruiting = rgb(100, 192, 169) */
/* mobile = rgb(241, 157, 49) */
/* website = rgb(216, 99, 161) */
/* sales = rgb(176, 201, 38) */

/* tasktype configuration */
.editorial{
    margin: 0.5%;
    height: 5%;
    width: 5%;
    background-color: rgb(71, 173, 241);
    border: 1px solid rgb(71, 173, 241);
    border-radius: 10px;
    color: white;
    padding: 0.3%;
    font-size: 70%;
}

.q1-goals{
    margin: 0.5%;
    height: 5%;
    width: 5%;
    background-color: rgb(155, 113, 227);
    border: 1px solid rgb(155, 113, 227);
    border-radius: 10px;
    color: white;
    padding: 0.3%;
    font-size: 70%;
}

.recruiting{
    margin: 0.5%;
    height: 5%;
    width: 5%;
    background-color: rgb(100, 192, 169);
    border: 1px solid rgb(100, 192, 169);
    border-radius: 10px;
    color: white;
    padding: 0.3%;
    font-size: 70%;
}

.mobile{
    margin: 0.5%;
    height: 5%;
    width: 5%;
    background-color: rgb(241, 157, 49) ;
    border: 1px solid rgb(241, 157, 49) ;
    border-radius: 10px;
    color: white;
    padding: 0.3%;
    font-size: 70%;
}

.website{
    margin: 0.5%;
    height: 5%;
    width: 5%;
    background-color: rgb(216, 99, 161) ;
    border: 1px solid rgb(216, 99, 161) ;
    border-radius: 10px;
    color: white;
    padding: 0.3%;
    font-size: 70%;
}

.sales{
    margin: 0.5%;
    height: 5%;
    width: 5%;
    background-color: rgb(176, 201, 38) ;
    border: 1px solid rgb(176, 201, 38) ;
    border-radius: 10px;
    color: white;
    padding: 0.3%;
    font-size: 70%;
}


/* check configuration */
.check{
    color: rgb(119, 230, 202);
    border: 1px solid rgb(119, 230, 202);
    border-radius: 50%;
    margin-right: 0.5%;
}
/* cross configuration */

.cross{
    color: rgb(236, 87, 77);
    border: 1px solid rgb(236, 87, 77);
    border-radius: 50%;
    margin-right: 0.5%;
}

/* Title with logo configuration */
header{
    width: 100%;
    height: 100%;
    background-color: white;
}

.head{
    width: 100%;
    padding: 1% 2%;
}

#logo{
    width: 5%;
    height: 5%;
}

#title{
    display: inline-block;
    font-size: 70px;
    vertical-align: top;
}

/* Body configuration */

body{
    background-color: rgb(246, 248, 249);
}



main{
    width: 80%;
    height: 60%;
    margin: 5% auto 2%;
    border-radius: 5px;
}

/* command configuration */
.command-section{
    background-color: white;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    margin-bottom: 0.5%;
}

.command-button{
    width: 100%;
    height: 100%;
    margin-left: 2%;
    
}

.add-task-button{
    margin: 1%;
    margin-right: 0.1%;
    height: 5%;
    width: 6%;
    background-color: rgb(71, 173, 241);
    text-align: center;
    padding: 0.5%;
    border: 0;
    border-radius: 5px;
    color: white;

}

.add-section-button{
    margin: 1%;
    margin-left: 0.1%;
    height: 5%;
    width: 7%;
    text-align: center;
    padding: 0.5%;
    border: 0;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(176, 178, 179);
    color: rgb(176, 178, 179);
}

  
/* list configuration */

.main-list{
    background-color: white;
    width: 100%;
    height: 80%;
    padding-top: 5%;
    padding-left: 2%;
    padding-bottom: 5%;
    border-radius: 5px;
}

.list{
    list-style-type: none;
}

li{
    margin-bottom: 2%;
}
